@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --mono: 0;
    --casl: .4;
    --wght: 590;
    --slnt: 0;
    --CRSV: .4;
}

@font-face {
    font-family: "Recursive";
    src:
        local("Recursive"),
        url("/fonts/Recursive_VF_1.085.woff2") format("woff2");
    font-style: normal;
    font-weight: 100 900;
}


html {
    scroll-behavior: smooth;

    font-family: "Recursive";
    font-variation-settings:
        "MONO" var(--mono),
        "CASL" var(--casl),
        "wght" var(--wght),
        "slnt" var(--slnt),
        "CRSV" var(--CRSV);
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:target:before {
    content: "";
    display: block;
    height: 200px;
    margin: -200px 0 0;
}
